<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="large-4 columns">    
    <div class="field">
      <%= f.label :flight_ref %><br>
      <%= f.number_field :flight_ref %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :flight_date %><br>
      <%= f.text_field :flight_date,class: "modelname_due_date",value: @flight.flight_date.try(:strftime, "%m/%d/%Y") %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :time_tk_off %><br>
      <%= f.text_field :time_tk_off,class: "modelname_time" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <div class="field">
    <%= f.label "Flight Name" %><br>
    <%= f.collection_select :flight_time_id, FlightTime.order(:flight), :id, :flight, include_blank: true %>
    <%= f.fields_for :flight_time do |ff| %>
    <br>
    <div class="field">
    <%= ff.label :flight %><br>
    <%= ff.text_field :flight %>
  </div>
  <div class="field">
    <%= ff.label :time %><br>
    <%= ff.time_select :time %>
  </div>
  <% end %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :pax_blocked %><br>
      <%= f.number_field :pax_blocked %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="field">
      <%= f.label :seats %><br>
      <%= f.number_field :seats %>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :flight_status %><br>
      <%= f.text_field :flight_status %>
    </div>
  </div>
  <div class="large-6 columns">
    <div class="field">
      <%= f.label :remark %><br>
      <%= f.text_area :remark %>
    </div>
  </div>
</div>
<div class="row">
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
