<div class="row">
  <div class="large-12 columns">
    <h1>Les Résas <%= " du #{@jour}" unless @jour.nil? %></h1>

<table id="resas">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Tel</th>
      <th>Mail</th>
      <th>Vol</th>
      <th>PAX</th>
      <th>Vente</th>
      <th>Observation</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resas.each do |resa| %>
    <% signal = "class=#{resa.check_in_status}" unless resa.check_in_status.nil? %>
      <tr <%= signal %>>
        <td><%= resa.nom %></td>
        <td><%= resa.telephone %></td>
        <td><%= resa.email %></td>
        <td><%= resa.info_vol %></td>
        <td><%= resa.paxt %></td>
        <td><%= resa.vente %></td>
        <td><%= resa.observation %></td>
        <td><%= link_to 'Modifier', edit_resa_path(resa) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer une résa', new_resa_path %>
</div>
</div>
