<div class="row">
  <div class="large-12 columns">
    <h1>Les Résas <%= " du #{@jour}" unless @jour.nil? %></h1>

<table id="flights">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Tel</th>
      <th>Mail</th>
      <th>Date Demand</th>
      <th>Type de vol</th>
      <td>Réf Vol</th>
      <th>Ad</th>
      <th>Enf</th>
      <th>Vente</th>
      <th>Observation</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resas.each do |resa| %>
      <tr>
        <td><%= resa.nom %></td>
        <td><%= resa.telephone %></td>
        <td><%= resa.email %></td>
        <td><%= l(resa.demand,locale: :fr) unless resa.demand.nil?%></td>
        <td><%= resa.flight_time.try(:name_with_flight_time) %></td>
        <td><%= resa.flight.try(:name_with_details) %></td>
        <td><%= resa.paxa %></td>
        <td><%= resa.paxe %></td>
        <td><%= resa.vente %></td>
        <td><%= resa.observation %></td>
        <td><%= link_to 'Modifier', edit_resa_path(resa) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer une résa', new_resa_path %>
</div>
</div>
