<p id="notice"><%= notice %></p>

<p>
  <strong>Refresa:</strong>
  <%= @resa.refresa %>
</p>

<p>
  <strong>Demand:</strong>
  <%= @resa.demand %>
</p>

<p>
  <strong>Duree:</strong>
  <%= @resa.duree %>
</p>

<p>
  <strong>Paxa:</strong>
  <%= @resa.paxa %>
</p>

<p>
  <strong>Paxe:</strong>
  <%= @resa.paxe %>
</p>

<p>
  <strong>Vente:</strong>
  <%= @resa.vente %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @resa.nom %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @resa.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resa.email %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @resa.observation %>
</p>

<%= link_to 'Edit', edit_resa_path(@resa) %> |
<%= link_to 'Back', resas_path %>
