<div class="row">
  <div class="large-12 columns">
<h1>Résumé des places par jour</h1>
<table id="overview">
  <thead>
    <tr>
      <th>Flight Ref</th>
      <th>Total</th>
      <th>Bloquée</th>
      <th>PAX</th>
      <th>Disponibles</th>
    </tr>
  </thead>

  <tbody>

<% @flights.each do |flight| %>
<%  theDay = flight.flight_date %>
<%  theFlightRef = flight.flight_ref %>
<%	seats =  @seats_per_flight[theFlightRef].to_i %>
<%	blocked =  @pax_blocked_per_flight[theFlightRef].to_i %>
<%  pax = (@paxa_per_flight[theFlightRef].to_i + @paxe_per_day[theFlightRef].to_i).to_i %>
<%  paxt = "#{pax} PAX (" %>
<%  paxt += "#{@paxa_per_flight[theFlightRef]}Ad," unless @paxa_per_flight[theFlightRef] == 0  %>
<%  paxt += "#{@paxe_per_flight[theFlightRef]}Ef," unless @paxe_per_flight[theFlightRef] == 0 %>
<%  paxt = paxt[0..-2] + ")" %>
<%  remaining = seats - blocked - pax %>
<%  signal = "class=invalid" if remaining < 0%>
<%  signal = "class=available" if remaining > 0%>
<%  signal = "class=full" if remaining == 0%>
<tr <%= signal %>>
	<td><%= link_to flight.name_with_details , flight_status_daily_path(flight_date: theDay) %> </td>
	<td><%= seats.to_s %></td>
	<td><%= blocked.to_s %></td>
	<td><%= paxt %></td>
	<td><%= remaining.to_s %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
</div>