<h1>Résumé des places par jour</h1>
<table id="overview">
  <thead>
    <tr>
      <th>Date</th>
      <th>Total</th>
      <th>Bloquée</th>
      <th>PAX</th>
      <th>Disponibles</th>
    </tr>
  </thead>

  <tbody>

<% @seats_per_day.each_with_index do |seat,index| %>
<%	theDay = seat[0] %>
<%	seats =  seat[1].to_i %>
<%	blocked =  @pax_blocked_per_day[theDay].to_i %>
<%  pax = (@paxa_per_day[theDay].to_i + @paxe_per_day[theDay].to_i).to_i%>
<%  remaining = seats - blocked - pax %>
<%  signal = "class=invalid" if remaining < 0%>
<%  signal = "class=available" if remaining > 0%>
<%  signal = "class=full" if remaining == 0%>
<tr <%= signal %>>
	<td><%= link_to theDay, flight_status_daily_path(flight_date: theDay) %> </td>
	<td><%= seats.to_s %></td>
	<td><%= blocked.to_s %></td>
	<td><%= pax.to_s %></td>
	<td><%= remaining.to_s %></td>
</tr>
<% end %>
</tbody>
</table>